header {height: 4em; border-bottom: 2px solid pink; margin-bottom: 1em;}

.jumbotron {margin-top: 30px; background-color: pink !important;}

#footer {padding-top: 1em;}

table {width: 85%; margin: auto;}

tr {width: 25%;}